{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %}
{% block content %}
    <h1>Home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse odit natus facere quam ex totam repellendus necessitatibus dicta minus rerum, voluptatum reiciendis qui tempora inventore dolore deserunt delectus laborum eius.</p>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam reiciendis vero repellat ducimus nulla alias excepturi totam esse numquam officia architecto porro provident aliquid laboriosam consectetur laudantium et natus nisi ut, rerum id debitis mollitia unde? Dignissimos distinctio temporibus officia. Odio deleniti unde quam cumque distinctio eum iure officia debitis quia atque rem vel odit, sit commodi, nulla dolor obcaecati voluptatibus delectus aliquid voluptatum tempora fugit. Dolores deleniti eos qui, maiores totam perferendis neque enim sequi assumenda, nobis earum quam, atque fuga! Quia quasi quaerat magnam autem earum nisi ipsa optio at, dicta sed recusandae, iusto laborum facilis perferendis non.</p>
    <img src="{% static 'images/welcome.jpg' %}" width="500px">4
{% endblock %}
   